/* Estructura de bloque principal */
.block-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;
}

/* Estilos de los ítems del bloque */
.block-item {
  max-width: 170px;
  padding: 1.05rem;
  border: 1px solid #bdbdbd;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-height: 240px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      /* Oscurece desde arriba */ rgba(0, 0, 0, 0.6) /* Oscurece hacia abajo */
    ),
    url("@/public/bgRoutine1.png");
  background-size: cover;
  background-position: center center;
}

/* Hover efecto para los ítems */
.block-item:hover {
  background-color: #f0f0f0;
}

/* Título de los bloques */
.block-title {
  font-size: 05px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: red;
}

/* Notas de los bloques */
.block-notes {
  color: #d0cccc;
  font-size: 14px;
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
  .block-list {
    gap: 1.5rem;
  }

  .block-item {
    padding: 1.5rem;
  }

  .block-title {
    font-size: 1.5rem;
  }
}
