body {
  background-color: #333;
}

.block-detail {
  /* estilo de contenedor general */
  z-index: 2;
  background: #333333;
  margin: 0;
  margin-top: -5px;
  border-radius: 12px;
}

/* vídeo */
.exercise-video {
  position: relative;

  height: 90dvh; /* Ajusta según tu diseño */
  overflow: hidden;
  border-radius: 8px;
  z-index: 0;
}

.video-embed {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.exercise-video video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video se ajuste correctamente */
}

/* fin vidoe */

.block-title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  color: #ffffff;
}

.block-notes {
  color: #e3dede;
  margin-top: -15px;
  text-align: center;
  margin-bottom: 15px;
}

.exercise-title {
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.exercise-list {
  list-style: none;
  padding: 0;
}

.exercise-item {
  margin-bottom: 32px;
  padding: 24px 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top, #000000, #333333);
  min-height: 100dvh;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.exercise-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fafef2;
  margin-bottom: 8px;
  margin-top: -11px;
}

.exercise-difficulty {
  display: block;
  width: 100%;
  max-width: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  background: #bf560b;
  color: #232222;
  font-weight: 200;
  margin-bottom: 15px;
}
.difficulty-advanced {
  background: red; /* Rojo para avanzado */
}

.difficulty-intermediate {
  background: orange; /* Naranja para intermedio */
}

.difficulty-beginner {
  background: green; /* Verde u otro color para principiante */
}

.exercise-details {
  color: #666;
  margin-bottom: 8px;
  padding: 0 20px;
}

.exercise-reps {
  font-size: 3rem;
  color: #f1793d;
  display: block;
  margin: 0;
  margin-top: -14px;
}

.exercise-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.completed-series {
  color: #f4eded;
}
.container__series--carga {
  display: grid;

  justify-content: flex-start;
  align-items: center;
}
.exercise-series,
.exercise-carga {
  color: #d7d4d4;
  font-size: 30px;
  font-weight: bold;
}

.exercise-descanso {
  color: #d7d4d4;
  font-size: 30px;
  font-weight: bold;
}
.exercise-carga::before {
  content: "";
}

.complete-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.complete-button:hover {
  background-color: #0056b3;
}

.loading-text {
  text-align: center;
  color: #888;
}

.error-message {
  text-align: center;
  color: #d9534f;
}

.no-exercises-text {
  text-align: center;
  color: #888;
}
